{% extends "example/base.html" %}
{% load static %}
{% load netvis_extras %}
{% block script_header %}
  <link rel="stylesheet" href="{% static 'netvis/css/netvis.css' %}" />
  {% load_netvis_js %}
{% endblock script_header %}
{% block content %}
<div class="jumbotron text-center">
  <h1>{{ object.title }}</h1>
  <h2><a href="/">back</a></h2>
</div>
  
<div class="container">
    <div id="annotationcontent">
      {{ object.text }}
      
    </div> 
    <div id="visualization"></div>
    <script src="{% static 'netvis/js/netvis.js' %}"></script>
    <script type="text/javascript">
      const graphUrl = "{% url 'netvis:graph' app_name='example' model_name='mytext' pk=object.id %}"
      showGraph("visualization", graphUrl)
    </script>
</div>
{% endblock content %}